<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Easily Job Portal</title>
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">myEasily</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="margin-left: 75%" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <% if(locals.userEmail){%>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/createjob">Create Job</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
          </li>
          <%} else{%>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </li>
          <%}%>
                </ul>
            </div>
        </nav>
    </header>
    <main class="bg-light text-dark">
        <%- body %>
          </main>
          <footer class="footer mt-auto py-3 bg-light">
            <div class="container text-center">
              <span class="text-muted">&copy; 2024 myEasily | Job Portal</span>
            </div>
          </footer>
          <!-- Bootstrap JS CDN -->
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
          <script src="/js/main.js"></script>
</body>

</html>