<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <!-- Login Form -->
                    <form action="/login" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control rounded-pill" id="email" name="email" placeholder="Registered email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control rounded-pill" id="password" name="password" placeholder="Your password" required>
                        </div>
                        <button type="submit" class="btn btn-primary float-right rounded-pill">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>